@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&display=swap");

html {
  --headercolor: #ffffff;
  --secondary-color: #e1e3e6;
  --font-color: #050505;
  --container: #f0f2f5;
  --bar: #f0f2f5;
  --todo: #e4e6eb;
  --icon: #1877f2;
  --icon-hover: #165cb8;
}
html[data-theme="dark"] {
  --headercolor: #242526;
  --secondary-color: #393a3b;
  --font-color: #e4e6eb;
  --container: #18191a;
  --bar: #3a3b3c;
  --todo: #3a3b3c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: var(--font-color);
}
i {
  color: var(--icon);
}
i:hover {
  color: var(--icon-hover);
}

.done {
  text-decoration: line-through;
  color: blue;
}

//header
header {
  background: var(--headercolor);
  min-height: 8vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  box-shadow: 1px 10px var(--secondary-color);
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: var(--icon);
    display: block;
    border-radius: 100px;
    position: relative;
  }

  label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    background: var(--bar);
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 30px;
  }
  .organizer {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    select {
      min-width: 50%;
      height: 100%;
      border: none;
      background: var(--bar);
      outline: none;
      border: 1px solid var(--secondary-color);
    }
    #add {
      cursor: pointer;
      text-align: center;
      font-size: 1.5em;
    }

    #trashproject {
      cursor: pointer;
      text-align: center;
      font-size: 1.5em;
      height: fit-content;
    }
    input {
      height: 100%;
      border: none;
      background: transparent;
      outline: none;
    }
    ::placeholder {
      color: var(--font-color);
    }
  }

  .title {
    margin: auto;
    text-align: center;
    a {
      user-select: none;
      font-family: "Arvo", serif;
      font-size: 1.6rem;
      color: var(--icon-hover);
    }
  }

  .information {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    #help,
    #settings {
      cursor: pointer;
      text-align: center;
      font-size: 1.5em;
      margin: auto 10px;
    }
  }
}

//main container
.main-container {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;
  white-space: nowrap;
  padding: 10px;
  height: 92vh;
  overflow-x: scroll;
  overflow-y: hidden;
  background: var(--container);
  button {
    color: var(--icon);
    font-size: 1.3rem;
    background: var(--todo);
    border: none;
    border-left: 1px solid var(--secondary-color);
    outline: none;
    cursor: pointer;
  }
  .addtask {
    border: 1px solid var(--icon-hover);
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 90px;
    input {
      font-size: 1.3rem;
      background: var(--headercolor);
      border: none;
      outline: none;
    }
    ::placeholder {
      color: var(--icon);
    }
  }
}

//modals
.addprojectmodal {
  display: grid;
  grid-template-rows: 10% 10% 5%;
  height: fit-content;
  width: 40%;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  margin: auto;
  background: var(--headercolor);
  color: var(--font-color);
  padding: 20px;
  outline: none;
  border: 5px solid var(--secondary-color);
  button {
    font-size: 1.3rem;
    margin-top: 10px;
    background: var(--container);
    border: 2px solid var(--secondary-color);
    width: 100%;
    outline: none;
    cursor: pointer;
    margin-left: auto;
    height: 100%;
    #addlogo {
      font-size: inherit;
    }
  }
  button:hover {
    background: var(--secondary-color);
  }
  label {
    font-size: 1.3rem;
  }
  div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
  }
  input {
    background: var(--container);
    font-size: 1.3rem;
    border: 1px solid var(--secondary-color);
    outline: none;
  }
}

.addtaskmodal {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 40%;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  margin: auto;
  background: var(--headercolor);
  color: var(--font-color);
  padding: 20px;
  outline: none;
  border: 5px solid var(--secondary-color);
  div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
  }
  textarea {
    resize: none;
    background: var(--container);
    border: 1px solid var(--secondary-color);
    outline: none;
  }
  input {
    background: var(--container);
    border: 1px solid var(--secondary-color);
    outline: none;
  }

  button {
    background: var(--container);
    border: 2px solid var(--secondary-color);
    font-size: 1.5rem;
    outline: none;
    width: 100%;
    cursor: pointer;
  }
  button:hover {
    background: var(--icon-hover);
    color: white;
  }
  .helpmodal {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    label {
      display: flex;
      align-items: center;
    }
    i {
      font-size: 2rem;
      padding: 0;
    }
  }
}

//task container
.task-container {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--secondary-color);
  background: var(--headercolor);
  min-width: 350px;
  min-height: fit-content;
  max-height: 500px;
  margin-right: 30px;
  animation: slide-up 0.4s ease;
  i {
    cursor: pointer;
  }
  .top {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: 1.7rem;
    border-bottom: 1px solid var(--secondary-color);
    height: fit-content;

    .dragicon {
      cursor: grab;
      background: var(--icon);
      width: 20px;
      height: 20px;
    }
  }
  #add {
    height: fit-content;
  }

  .todo-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 90%;
    margin: auto;
    height: 90%;
    margin-top: 5px;

    .todo-item {
      display: grid;
      grid-template-columns: 10% 70% 20%;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 10px;
      width: 100%;
      min-height: 40px;
      font-size: 1.1em;
      border-radius: 7px;
      animation: slide-up 0.4s ease;
      background: var(--todo);
      #dragicon {
        cursor: grab;
        margin-left: 5px;
        text-align: center;
        width: 20px;
        height: 20px;
      }

      #checktask,
      #deletetask {
        cursor: pointer;
        font-size: 1.4rem;
      }
    }
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
